# Python
__pycache__/
*.pyc
.venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
# macOS
.DS_Store

#Lambda build artifacts
infra/envs/dev/lambda.zip

# local testing output
response.json

# Env files
.env

